@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Name the color: https://chir.ag/projects/name-that-color
$haiti-blue: #100c33;
$base-color: $haiti-blue;

$disabled-text-color: rgba($base-color, 0.38);
$disabled-container-color: rgba($base-color, 0.08);
$disabled-outline-color: rgba($base-color, 0.26);

:root {
  --mat-button-protected-disabled-container-color: #{$disabled-container-color};
  --mat-button-protected-disabled-label-text-color: #{$disabled-text-color};
  --mat-button-filled-disabled-container-color: #{$disabled-container-color};
  --mat-button-filled-disabled-label-text-color: #{$disabled-text-color};
  --mat-button-outlined-disabled-outline-color: #{$disabled-outline-color};
  --mat-button-outlined-disabled-label-text-color: #{$disabled-text-color};
}
