@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
  --mat-button-protected-disabled-container-color: rgba(0, 0, 0, 0.08);
  --mat-button-protected-disabled-label-text-color: rgba(0, 0, 0, 0.38);
  --mat-button-filled-disabled-container-color: rgba(0, 0, 0, 0.08);
  --mat-button-filled-disabled-label-text-color: rgba(0, 0, 0, 0.38);
  --mat-button-outlined-disabled-outline-color: rgba(0, 0, 0, 0.26);
  --mat-button-outlined-disabled-label-text-color: rgba(0, 0, 0, 0.38);
}
